body{
    background: #bad4b2;
}

a{
    color: #85997f;
}
.App{
max-width: 960px;
margin: 0 auto;

}
.App-header{
    margin: 30px 0;
}

.Github{
    color: black;
}


.App-footer{
text-align: center;
margin: 30px 0;
}